body {
    background-color: blueviolet;
    color: aquamarine;


}
button {
    background-color: yellow;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #22202E;
    padding-top: 29px;
    font-family: Montserrat;

    font-size: 24px;

    line-height: normal;


}

.top-nav {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #726E8D;
    font-size: 16px;



}


.top-nav-item {
    margin-left: 44px;
    font-family: Open Sans;
}

.first-top-nav {
    display: flex;
    justify-content: space-between;
    width: 1292px;
    margin: 0 auto;

}

.side-top-item {
    padding-top: 24px;
    display: flex;
    gap: 14px;
    
}
.item-header-1{
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.item-header-2 {
   background-image: url("../img/shopping--cart.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.item-header-3 {
    background-image: url("../img/user--avatar.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.title {
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 140%;
    margin-top: 80px;
    margin-bottom: 24px;
}



.header-select-sorting {
    display: flex;
    gap: 24px;
    padding: 12px 24px;
    font-family: Open Sans;

}

.header-select {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 34px;
}

.select {
    border: none;
    font-family: Open Sans;
}











.photos-holder {
    display: grid;
    grid-template-columns: repeat(4, 305px);
    grid-auto-rows: 462px;

    gap: 20px;
}

.photos-holder-box {
    text-decoration: none;
    color: black;
}

.container {
    width: 1280px;
    margin: 0 auto;


}

.image {
    width: 100%;
    height: 80%;

}

.photos-holder-text {
    margin-top: 24px;
    font-family: Montserrat;

}

.price {
    margin-top: 20px;
    font-family: Montserrat;

}

.button-collection {
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    padding: 16px 32px;
    font-size: 16px;
    margin-top: 40px;
    border: 0px;
}

.email-sing-up {
    background-image: url("../img/join-background.jpg");
    background-repeat: no-repeat;
    width: 1440px;
height: 521px;
    display: flex;
   justify-content: flex-end;
    gap: 49px;
    margin-top: 40px;

}

.button-sign-up {

    background-color: #2A254B;
    color: white;
    padding: 16px 32px;

}

.email-sing-up-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 130px;
}

.sing-up {
    font-size: 32px;
    margin-bottom: 21px;
    font-family: Montserrat;
}

.sing-up-p {
    font-size: 16px;
    margin-bottom: 11px;
    font-family: Open Sans;
}

.container-sing-up {

    width: 1440px;
    margin: 0 auto;
}

.footer-info {

    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 12px;
    

}
.item-last{
    grid-column: 2 / 3;
    grid-row: 7 / 7;
}

.footer-info-item {
    text-decoration: none;
    color: white;
    font-family: Open Sans;
    
}
.wrapper-text-img {
    display: flex;
    justify-content:center;
    
    
}

.footer {

    background-color: #2A254B;
    padding-top: 58px;
    width: 1440px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.copyright {
    font-size: 14px;
    font-family: Open Sans;
}

.logo-linkedin {
    background-image: url("../img/logo--linkedin.svg");
    background-repeat: no-repeat;


    width: 24px;
    height: 24px;
}

.logo-fb {
    background-image: url("../img/logo--facebook.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

}

.logo-instagram {
    background-image: url("../img/logo--instagram.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.logo-skype {
    background-image: url("../img/logo--skype.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.logo-twitter {
    background-image: url("../img/logo--twitter.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.logo-pinterest {
    background-image: url("../img/logo--pinterest.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}



.icon-footer {

    display: flex;

    gap: 24px;
}

.copyright-footer-logo {

    display: flex;
    justify-content: space-between;


}

.container-footer {
    width: 1320px;
    margin: 0 auto;
    border-top: 1px solid #4E4D93;
    padding-top: 24px;
}